In [1]:
import numpy as np
import pandas as pd
import graph_tool.all as gt
import matplotlib.pyplot as plt

In [2]:
mak = pd.read_csv('map_article_keyword.csv', delimiter=';')
mak

       keyword_id  article_id
0               0         683
1               1          57
2               2          11
3               2         365
4               2         683
5               3          57
6               3         203
7               3         311
8               3         535
9               3         810
10              4           0
11              4         649
12              4         795
13              5         790
14              6         401
15              6         424
16              6         969
17              7         894
18              8         982
19              9         982
20             10         625
21             10         823
22             11         151
23             12         269
24             12         647
25             13         917
26             13         999
27             14          24
28             14         111
29             14         220
...           ...         ...
12838        5352         378
12839        5353          49
12840        5353         304
12841        5353         453
12842        5353         509
12843        5353         917
12844        5353         944
12845        5353         962
12846        5354         301
12847        5355         608
12848        5355         990
12849        5356         313
12850        5357         309
12851        5358         990
12852        5359         333
12853        5360          62
12854        5361          48
12855        5361         541
12856        5361         581
12857        5362         844
12858        5362         955
12859        5363         302
12860        5364         347
12861        5364         527
12862        5364         671
12863        5364         925
12864        5365         228
12865        5365         591
12866        5366         469
12867        5367         287

[12868 rows x 2 columns]

In [3]:
mak = pd.merge(mak.groupby('keyword_id').count().query('article_id > 10 and article_id < 100'),
         mak, left_index=True, right_on='keyword_id', suffixes=('x', ''))[['keyword_id', 'article_id']]
mak

       keyword_id  article_id
27             14          24
28             14         111
29             14         220
30             14         293
31             14         342
32             14         464
33             14         520
34             14         574
35             14         672
36             14         674
37             14         791
38             14         910
74             43           1
75             43         189
76             43         202
77             43         300
78             43         303
79             43         367
80             43         417
81             43         419
82             43         453
83             43         486
84             43         497
85             43         519
86             43         528
87             43         529
88             43         536
89             43         541
90             43         595
91             43         596
...           ...         ...
12723        5291         113
12724        5291         162
12725        5291         254
12726        5291         290
12727        5291         407
12728        5291         769
12729        5291         784
12730        5291         822
12731        5291         833
12732        5291         840
12733        5291         917
12734        5291         922
12735        5291         982
12767        5312          97
12768        5312         210
12769        5312         244
12770        5312         260
12771        5312         290
12772        5312         296
12773        5312         446
12774        5312         664
12775        5312         697
12776        5312         719
12777        5312         742
12778        5312         820
12779        5312         826
12780        5312         909
12781        5312         917
12782        5312         937
12783        5312         965

[3355 rows x 2 columns]

In [4]:
kpair = (pd.merge(mak, mak, on='article_id', copy=False)
    .query('keyword_id_x != keyword_id_y')[['keyword_id_x', 'keyword_id_y']])
kpair

       keyword_id_x  keyword_id_y
1                14          1319
2                14          3093
3                14          3153
4                14          3155
5                14          3482
6                14          3539
7                14          4925
8              1319            14
10             1319          3093
11             1319          3153
12             1319          3155
13             1319          3482
14             1319          3539
15             1319          4925
16             3093            14
17             3093          1319
19             3093          3153
20             3093          3155
21             3093          3482
22             3093          3539
23             3093          4925
24             3153            14
25             3153          1319
26             3153          3093
28             3153          3155
29             3153          3482
30             3153          3539
31             3153          4925
32             3155            14
33             3155          1319
...             ...           ...
21525          5061          4084
21526          5061          4925
21531          4114          5061
21532          5061          4114
21537          4231          4924
21538          4924          4231
21542          4366          4736
21543          4736          4366
21546          4366          4851
21547          4851          4366
21562          4802          5054
21563          4802          5278
21564          5054          4802
21566          5054          5278
21567          5278          4802
21568          5278          5054
21571          4803          4851
21572          4851          4803
21578          4848          4925
21579          4925          4848
21585          4848          4972
21586          4848          5246
21587          4972          4848
21589          4972          5246
21590          5246          4848
21591          5246          4972
21595          4851          4969
21596          4969          4851
21604          4969          4984
21605          4984          4969

[18256 rows x 2 columns]

In [5]:
seen = set()
kpair = np.array([((x, y), seen.add((x, y)))[0]
               for (x, y) in kpair.values if (y, x) not in seen])
kpair

array([[  14, 1319],
       [  14, 3093],
       [  14, 3153],
       ...,
       [4972, 5246],
       [4851, 4969],
       [4969, 4984]])

In [6]:
kpair.shape

(9128, 2)

In [7]:
kname = pd.read_csv('keyword.csv', delimiter=';').query('keyword_id != 0 and keyword_id != 1')
kname

      keyword_id         keyword_name
2              2            abdominal
3              3                abies
4              4              ability
5              5             ablation
6              6        abnormalities
7              7             abortion
8              8              absence
9              9          absenteeism
10            10             absolute
11            11             absorber
12            12            absorbing
13            13       absorptiometry
14            14           absorption
15            15          absorptions
16            16          abstraction
17            17           abundances
18            18      acanthocephalus
19            19                acari
20            20          accelerated
21            21          accelerates
22            22         acceleration
23            23          accelerator
24            24               access
25            25             accident
26            26          acclimation
27            27      acclimatization
28            28        accreditation
29            29            accretion
30            30            accumbens
31            31         accumulation
...          ...                  ...
5338        5338  xenotransplantation
5339        5339         xenoturbella
5340        5340           xerostomia
5341        5341                  xii
5342        5342                  xps
5343        5343                  xrd
5344        5344                xviii
5345        5345                 year
5346        5346                yeast
5347        5347               yellow
5348        5348                yield
5349        5349               yields
5350        5350                 yolk
5351        5351                 yope
5352        5352            yorkshire
5353        5353                young
5354        5354                  zea
5355        5355              zealand
5356        5356                zebra
5357        5357            zebrafish
5358        5358            zelandica
5359        5359              zernike
5360        5360                 zeta
5361        5361                 zinc
5362        5362               zircon
5363        5363             zirconia
5364        5364                 zone
5365        5365                zones
5366        5366          zooplankton
5367        5367               zoster

[5366 rows x 2 columns]

In [8]:
kname = pd.merge(pd.DataFrame(mak['keyword_id'].unique()), kname, left_on=0,
                 right_on='keyword_id')[['keyword_id', 'keyword_name']]
kname

     keyword_id    keyword_name
0            14      absorption
1            43            acid
2            46           acids
3            62      activation
4            66        activity
5            68           acute
6           101      adsorption
7           188           alpha
8           221        analysis
9           227             and
10          276      antibodies
11          504        behavior
12          518            beta
13          537         binding
14          584           blood
15          596            bone
16          615           brain
17          688          cancer
18          710          carbon
19          719       carcinoma
20          727  cardiovascular
21          775            cell
22          776           cells
23          782         central
24          837        children
25          947            coli
26          993         complex
27         1084         control
28         1110        coronary
29         1166           cross
..          ...             ...
155        4655       stability
156        4672          states
157        4724          stress
158        4736       structure
159        4802         surface
160        4803        surfaces
161        4806         surgery
162        4811        survival
163        4837        syndrome
164        4844        synthase
165        4848          system
166        4851         systems
167        4894            term
168        4924          theory
169        4925         therapy
170        4969            time
171        4972          tissue
172        4984      tomography
173        5047       transport
174        5054       treatment
175        5061           trial
176        5088           tumor
177        5095            type
178        5146         urinary
179        5237           virus
180        5246           vitro
181        5248            vivo
182        5278           water
183        5291          weight
184        5312           women

[185 rows x 2 columns]

In [9]:
kpairname = pd.merge(pd.merge(pd.DataFrame(kpair), kname, left_on=0, right_on='keyword_id'),
            kname, left_on=1, right_on='keyword_id')[['keyword_name_x', 'keyword_name_y']]

In [10]:
np.save('kpair', kpair)
np.save('kname', kname)
np.save('kpairname', kpairname)