In [1]:
import pandas as pd
import pandasql as ps

In [2]:
mak = pd.read_csv('map_article_keyword.csv', delimiter=';').query('keyword_id != 0 and keyword_id != 1')
mak

         keyword_id  article_id
187028            2       41394
187029            3      189830
187030            4       20097
187031            4       22493
187032            4      283112
187033            4      299528
187034            5      134104
187035            6      200847
187036            7      175265
187037            7      230600
187038            7      240336
187039            7      261835
187040            8      230604
187041            9      107428
187042           10      200915
187043           11      262432
187044           12      321303
187045           13         278
187046           14       15982
187047           15         278
187048           16      198177
187049           17      308505
187050           18      171247
187051           18      176304
187052           19      195520
187053           20      171448
187054           21       33360
187055           22      118195
187056           23      118195
187057           24      308505
...             ...         ...
3304195      484325      311810
3304196      484325      320532
3304197      484325      345748
3304198      484325      346020
3304199      484325      360357
3304200      484326      335370
3304201      484326      363644
3304202      484327       10405
3304203      484327       12212
3304204      484327       38127
3304205      484327       69391
3304206      484327      126124
3304207      484327      169627
3304208      484327      200394
3304209      484327      230113
3304210      484327      330140
3304211      484327      351485
3304212      484328      197606
3304213      484329      230113
3304214      484330      192984
3304215      484331      286385
3304216      484332       82193
3304217      484333      239819
3304218      484334      135773
3304219      484334      254912
3304220      484334      347771
3304221      484335      131353
3304222      484336      261752
3304223      484336      282350
3304224      484337      269773

[3117197 rows x 2 columns]

In [3]:
query1 = '''
    select
        keyword_id as id,
        article_id
    from mak
    where keyword_id in (
        select
            keyword_id
        from mak
        group by keyword_id
        having count(article_id) >= 1000
        )
'''

In [4]:
query2 = '''
    select
        a.keyword_id as id,
        article_id
    from mak as a join (
        select
            keyword_id
        from mak
        group by keyword_id
        having count(article_id) >= 1000
        ) as b
    on a.keyword_id = b.keyword_id
'''

In [5]:
%time ps.sqldf(query1, locals())

CPU times: user 23.5 s, sys: 720 ms, total: 24.2 s
Wall time: 24.3 s

            id  article_id
0        11597         284
1        11597         647
2        11597         723
3        11597         727
4        11597         728
5        11597         901
6        11597         962
7        11597        1166
8        11597        2747
9        11597        2846
10       11597        3080
11       11597        3113
12       11597        3432
13       11597        3934
14       11597        3937
15       11597        3947
16       11597        4358
17       11597        4362
18       11597        5121
19       11597        5329
20       11597        5884
21       11597        5917
22       11597        5923
23       11597        5963
24       11597        6027
25       11597        6283
26       11597        6488
27       11597        6513
28       11597        6735
29       11597        6791
...        ...         ...
483940  479697      357964
483941  479697      358107
483942  479697      358386
483943  479697      358536
483944  479697      358684
483945  479697      358730
483946  479697      358738
483947  479697      358749
483948  479697      358801
483949  479697      358944
483950  479697      359006
483951  479697      359063
483952  479697      359065
483953  479697      359066
483954  479697      359299
483955  479697      359365
483956  479697      359519
483957  479697      359781
483958  479697      359805
483959  479697      360333
483960  479697      360347
483961  479697      360642
483962  479697      360778
483963  479697      360802
483964  479697      360910
483965  479697      361007
483966  479697      361333
483967  479697      361350
483968  479697      363480
483969  479697      363953

[483970 rows x 2 columns]

In [6]:
%time ps.sqldf(query2, locals())

CPU times: user 22.9 s, sys: 336 ms, total: 23.2 s
Wall time: 23.4 s

            id  article_id
0        11597         284
1        11597         647
2        11597         723
3        11597         727
4        11597         728
5        11597         901
6        11597         962
7        11597        1166
8        11597        2747
9        11597        2846
10       11597        3080
11       11597        3113
12       11597        3432
13       11597        3934
14       11597        3937
15       11597        3947
16       11597        4358
17       11597        4362
18       11597        5121
19       11597        5329
20       11597        5884
21       11597        5917
22       11597        5923
23       11597        5963
24       11597        6027
25       11597        6283
26       11597        6488
27       11597        6513
28       11597        6735
29       11597        6791
...        ...         ...
483940  479697      357964
483941  479697      358107
483942  479697      358386
483943  479697      358536
483944  479697      358684
483945  479697      358730
483946  479697      358738
483947  479697      358749
483948  479697      358801
483949  479697      358944
483950  479697      359006
483951  479697      359063
483952  479697      359065
483953  479697      359066
483954  479697      359299
483955  479697      359365
483956  479697      359519
483957  479697      359781
483958  479697      359805
483959  479697      360333
483960  479697      360347
483961  479697      360642
483962  479697      360778
483963  479697      360802
483964  479697      360910
483965  479697      361007
483966  479697      361333
483967  479697      361350
483968  479697      363480
483969  479697      363953

[483970 rows x 2 columns]