In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
mac = pd.read_csv('map_article_university_country.csv', delimiter=';') \
    [['article_id', 'country_id']].drop_duplicates()
mac.head()

   article_id  country_id
0           0          31
1           0          44
2           0         182
3           1          44
5           2         165

In [3]:
cpair = (pd.merge(mac, mac, on='article_id', copy=False)
    .query('country_id_x != country_id_y')[['country_id_x', 'country_id_y']])
seen = set()
cpair = np.array([((x, y), seen.add((x, y)))[0]
               for (x, y) in cpair.values if (y, x) not in seen])
np.save('cpair', cpair)
cpair

array([[ 31,  44],
       [ 31, 182],
       [ 44, 182],
       ...,
       [160, 143],
       [143,  55],
       [165, 143]])

In [4]:
cname = pd.read_csv('country.csv', delimiter=';')
—Åname = pd.merge(pd.DataFrame(mac['country_id'].unique()), cname, left_on=0,
                 right_on='country_id')[['country_id', 'country_name']]
np.save('cname', cname)
cname.head()

   country_id country_name
0           0  afghanistan
1           1      albania
2           2      algeria
3           3      andorra
4           4       angola